/* -------CAROUSEL------- */
.carousel-container{
    background-image: url(../images/right-patten.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 1%;
}
.carousel-item{
    margin: 0 ;
    padding: 0 20%;
}
.carousel-caption {
    color: #000;
    width: 50%;
    padding: 10% 40%;
    row-gap: 1.8;

}
.carousel-title{
    font-weight:lighter;
    font-size: 2rem !important;
}
.carousel-price{
    font-weight:900;
    font-size: 50px;
    margin-bottom: 20px;
}
.carousel-caption a {
    padding: 1rem 2.5rem;
}
.nopic-caption{
    padding: 10%;
    margin: auto;
    text-align: center;
    width: 100%;
}
/* pagination */
.pagination {
    display:flex;
    justify-content: center;
    gap: 10px;
    padding: 2%;
  }
  
  .pagination a {
    color: black;
    padding: 4px 8px;
    text-decoration: none;
    border: 1px solid #cc1315;
    border-radius: 50%;
  }
  
  .pagination a:hover {
    background-color:#cc1315;;
  }
 
 