/* #nav-content{
    display: flex;
}
#nav-content ul{
    display: inline-flex;
}
#nav-content ul li {
    list-style: none;
    margin-right: 50px;
} */

body{
    background-image: url(../images/left-patten.png);
    background-repeat: no-repeat;
}