/* color
hover color: #39c46b
*/
body{
    background-image: url(../images/left-patten.png);
    background-repeat: no-repeat;
    margin: 0;
    box-sizing: border-box;
}

*{
    font-family: 'Roboto', sans-serif;;
    line-height: 1.8;
}
/*-------------- Navbar-------------- */
a{
    color: #000;
}
a ::hover {
    color:#39c46b ;
}
.nav-container{
    width: 100%;
    color: #000;
    align-items: baseline;
}

.main-container, 
.user-container {
flex-direction: row;
gap: 10%;
}
.nav-container{
    padding: 1% 10%;
}
.main-container > .logomain {
    position: absolute;
    left: 10%;
}
.ava-pic {
    border-radius: 50%;
}
.flag-pic{
    border-radius: 10%;
}

/* -------CAROUSEL------- */

.carousel-item{
    margin: 0 20%;
}
.carousel-caption {
    color: #000;
    padding: 10%;
    row-gap: 1.8;

}
.carousel-title{
    font-weight:lighter;
    font-size: 2rem !important;
}
.carousel-price{
    font-weight:900;
    font-size: 50px;
    margin-bottom: 20px;
}
.carousel-caption a {
    padding: 1rem 2.5rem;
}